body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 100vh;
}

.movie-card {
    width: 300px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
}

.movie-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.movie-card h2 {
    font-size: 1.5rem;
    margin: 10px 0;
}

.movie-card p {
    font-size: 1.2rem;
    color: #333;
}

.movie-card a {
    display: block;
    text-decoration: none;
    color: #0074d9;
    font-weight: bold;
    margin-top: 10px;
}
